.chartbar_wrapper {
  height: 100%;
  text-align: left;
  color: #000c45;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chartbar__inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background-color: #c3b4f3;
  border-radius: 15px;

}

.chartbar{
  transition-property: height;
  transition-timing-function: cubic;
  transition-duration: 1s;
  width: 100%;
  background: teal;
 
}

.chart_label{
  font-size: 0.8rem;
  font-weight: bold;

}
